/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;

}
p{
  text-align: justify;
  align:center;
}
img{border-radius: 5px;}
::-moz-selection {
  background: #4682B4;
  text-shadow: none;
}

::selection {
  background: #4682B4;
  text-shadow: none;
}


hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
#home img{
  max-width: 550px;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
========================================================================== */
.titulo{
  font-size: 2.5em;
}
body {
  font: 16px/26px Helvetica, Helvetica Neue, Arial;
  color:#5F5F5F;
}
figcaption{
  font-size: 0.8em;
}

.wrapper {
  width: 90%;
  margin: 0 5%;
}

.header-container {
  position:fixed;
  border-bottom: 10px solid #0C2342;
  width: 100%;
}

.footer-container,
.main aside {
  border-top: 20px solid #CDC9C9;
}

.header-container,
.footer-container,
.main aside {
  background: #0C2342
}

.title {
  color: white;
}
footer img{
  max-width: 50px;
}
nav img{
  max-width: 150px;
}
/* ==============
MOBILE: Menu
============== */

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;


}

nav a {
  display: list-item;
  margin-bottom: 10px;
  padding: 0;

  text-align: center;
  text-decoration: none;
  font-weight: bold;

  color: white;
  background: #e44d26;
}

nav a:link,
nav a:visited{
  background-color: #0C2342;
  color: LightGray;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;

}

}

nav a:hover {
  text-decoration: underline;
}

/* ==============
MOBILE: Main
============== */

.main {
  padding: 30px 0;
  background-image: url(../img/bg3.png);
  background-repeat: no-repeat;
  /*background-position: center center;*/
  background-attachment: fixed;

}

.main article h1 {
  font-size: 2em;
}

.main aside {
  color: white;
  padding: 0px 5% 10px;

}

.footer-container footer {
  color: white;
  padding: 20px 0;
}

/* ===============
ALL: IE Fixes
=============== */

.ie7 .title {
  padding-top: 20px;
}

/* ==========================================================================
Author's custom styles
========================================================================== */















/* ==========================================================================
Media Queries
========================================================================== */

@media only screen and (min-width: 480px) {

  /* ====================
  INTERMEDIATE: Menu
  ==================== */

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  nav li {
    float: center;
  }

  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /* ========================
  INTERMEDIATE: IE Fixes
  ======================== */

  nav ul li {
    display: inline;
  }

  .oldie nav a {
    margin: 0 0.7%;
  }
}

@media only screen and (min-width: 768px) {

  /* ====================
  WIDE: CSS3 Effects
  ==================== */

  .header-container,
  .main aside {
    -webkit-box-shadow: 0 5px 10px #aaa;
    -moz-box-shadow: 0 5px 10px #aaa;
    box-shadow: 0 5px 10px #aaa;
  }

  /* ============
  WIDE: Menu
  ============ */

  .title {
    float: left;
  }

  nav {
    float: bottom;
    width: 100%;
  }


  /* ============
  WIDE: Main
  ============ */

  .main article {
    float: left;
    width: 57%;
  }

  .main aside {
    float: right;
    width: 28%;
  }
}

@media only screen and (min-width: 1140px) {

  /* ===============
  Maximal Width
  =============== */

  .wrapper {
    width: 1026px; /* 1140px - 10% for margins */
    margin: 0 auto;
  }
}

/* ==========================================================================
Helper classes
========================================================================== */

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/* ==========================================================================
Print styles
========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
